# Reihenfolge auf Maschinen

In [1]:
from configs.config import get_path
import src.utils.sequence_tester as seq_tester

import pandas as pd
pd.set_option('display.max_rows', 26)
pd.set_option('display.max_colwidth', 93)

In [2]:
# pip install Levenshtein

In [3]:
data_path = get_path("data", "cp_lateness")

def get_file_path(prefix: str = "", text: str = "schedule"):
    return data_path / f"{prefix}_{text}.csv"

In [4]:
day_numb = 1

get_file_path(prefix="02", text=f"plan_{day_numb:02d}_init")

WindowsPath('C:/Users/konra/Coding/HTWD_Minimalinvasives_Job-Shop_Scheduling/data/cp_lateness/02_plan_01_init.csv')

In [5]:
day_numb = 1

df_plan_init =  pd.read_csv(get_file_path(prefix="02", text=f"plan_{day_numb:02d}_init"))
df_plan_init = df_plan_init.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_init

,Job,Operation,Machine,Arrival,Deadline,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_000,0,M0,0,2297,1440,29,1469,-828,0,828
1,Job_000,1,M1,0,2297,1486,78,1564,-733,0,733
2,Job_000,2,M2,0,2297,1636,9,1645,-652,0,652
3,Job_000,3,M3,0,2297,1645,36,1681,-616,0,616
4,Job_000,4,M4,0,2297,1681,49,1730,-567,0,567
...,...,...,...,...,...,...,...,...,...,...,...
315,Job_031,5,M1,1424,4390,3081,28,3109,-1281,0,1281
316,Job_031,6,M6,1424,4390,3291,46,3337,-1053,0,1053
317,Job_031,7,M5,1424,4390,3337,46,3383,-1007,0,1007
318,Job_031,8,M7,1424,4390,3723,72,3795,-595,0,595
319,Job_031,9,M8,1424,4390,4360,30,4390,0,0,0

## Mit "Deviation Penalty"

### Tag 2

In [7]:
day_numb = 2
file = get_file_path(prefix="04_devpen", text=f"schedule_{day_numb:02d}")

df_plan_temp = pd.read_csv(file)
df_plan_temp = df_plan_temp.sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_devpen_01 = df_plan_temp 
df_plan_devpen_01

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_001,9,81,3047,M8,3017,30,3047,0,0,0
1,Job_002,9,101,3404,M4,3333,33,3366,-38,0,38
2,Job_003,3,142,3950,M4,2974,99,3073,-877,0,877
3,Job_003,4,142,3950,M6,3100,9,3109,-841,0,841
4,Job_003,5,142,3950,M8,3110,52,3162,-788,0,788
...,...,...,...,...,...,...,...,...,...,...,...
280,Job_047,5,2820,5106,M4,4213,69,4282,-824,0,824
281,Job_047,6,2820,5106,M8,4318,21,4339,-767,0,767
282,Job_047,7,2820,5106,M7,4380,49,4429,-677,0,677
283,Job_047,8,2820,5106,M9,4467,72,4539,-567,0,567
284,Job_047,9,2820,5106,M6,5053,53,5106,0,0,0

#### Vergleich (Kendall Tau & Levenshtein)

In [8]:
df_compare_01 = seq_tester.analyze_machine_sequences(df_plan_init, df_plan_devpen_01, 1440*day_numb)
df_compare_01

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau,levenshtein_distance
Machine,,,,,,
M0,"[Job_025, Job_019, Job_024]","[Job_043, Job_036, Job_047, Job_022, Job_034, Job_021, Job_040, Job_025, Job_037, Job_019...","[Job_025, Job_019, Job_024]",False,1.000000,0
M1,"[Job_027, Job_023, Job_031, Job_024]","[Job_027, Job_020, Job_025, Job_019, Job_023, Job_031, Job_024, Job_032, Job_046, Job_039...","[Job_027, Job_023, Job_031, Job_024]",False,1.000000,0
M2,"[Job_019, Job_018, Job_025, Job_024, Job_023]","[Job_047, Job_036, Job_037, Job_022, Job_018, Job_017, Job_019, Job_025, Job_024, Job_023...","[Job_018, Job_019, Job_025, Job_024, Job_023]",True,0.800000,2
M3,"[Job_031, Job_025, Job_023, Job_007, Job_003, Job_013, Job_022, Job_019, Job_024, Job_027]","[Job_018, Job_031, Job_017, Job_011, Job_025, Job_023, Job_007, Job_003, Job_032, Job_013...","[Job_031, Job_025, Job_023, Job_007, Job_003, Job_013, Job_022, Job_019, Job_024, Job_027]",False,1.000000,0
M4,"[Job_015, Job_003, Job_008, Job_027, Job_019, Job_021, Job_002, Job_024, Job_018, Job_026...","[Job_015, Job_003, Job_008, Job_027, Job_011, Job_021, Job_002, Job_019, Job_018, Job_024...","[Job_015, Job_003, Job_008, Job_027, Job_021, Job_002, Job_019, Job_018, Job_024, Job_026...",True,0.934066,3
M5,"[Job_018, Job_017, Job_027, Job_020, Job_023, Job_025, Job_031, Job_022, Job_003, Job_019...","[Job_018, Job_027, Job_020, Job_017, Job_031, Job_023, Job_025, Job_022, Job_032, Job_036...","[Job_018, Job_027, Job_020, Job_017, Job_031, Job_023, Job_025, Job_022, Job_003, Job_019...",True,0.854545,4
M6,"[Job_030, Job_013, Job_020, Job_003, Job_021, Job_017, Job_022, Job_018, Job_031, Job_019...","[Job_028, Job_013, Job_030, Job_003, Job_020, Job_021, Job_022, Job_018, Job_031, Job_027...","[Job_013, Job_030, Job_003, Job_020, Job_021, Job_022, Job_018, Job_031, Job_027, Job_019...",True,0.790476,8
M7,"[Job_028, Job_030, Job_017, Job_005, Job_013, Job_020, Job_003, Job_025, Job_012, Job_018...","[Job_028, Job_026, Job_005, Job_030, Job_013, Job_020, Job_003, Job_017, Job_012, Job_018...","[Job_028, Job_005, Job_030, Job_013, Job_020, Job_003, Job_017, Job_012, Job_018, Job_025...",True,0.918129,5
M8,"[Job_017, Job_001, Job_013, Job_028, Job_003, Job_030, Job_025, Job_022, Job_019, Job_027...","[Job_021, Job_001, Job_013, Job_028, Job_003, Job_030, Job_017, Job_022, Job_025, Job_027...","[Job_001, Job_013, Job_028, Job_003, Job_030, Job_017, Job_022, Job_025, Job_027, Job_019...",True,0.882353,6
M9,"[Job_013, Job_018, Job_017, Job_022, Job_023, Job_027, Job_025, Job_003, Job_028, Job_030...","[Job_021, Job_013, Job_018, Job_022, Job_027, Job_023, Job_003, Job_017, Job_028, Job_032...","[Job_013, Job_018, Job_022, Job_027, Job_023, Job_003, Job_017, Job_028, Job_030, Job_025...",True,0.757576,5

### Tag 3

In [9]:
day_numb = 3
file = get_file_path(prefix="04_devpen", text=f"schedule_{day_numb:02d}")

df_plan_temp = pd.read_csv(file)
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_devpen_02 = df_plan_temp 
df_plan_devpen_02

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_019,9,808,4616,M5,4573,43,4616,0,0,0
1,Job_023,9,1211,4683,M8,4587,74,4661,-22,0,22
2,Job_024,9,1238,5047,M5,5004,43,5047,0,0,0
3,Job_025,9,1252,4555,M4,4512,33,4545,-10,0,10
4,Job_027,9,1390,4524,M3,4423,79,4502,-22,0,22
...,...,...,...,...,...,...,...,...,...,...,...
242,Job_063,5,4217,8026,M8,5180,52,5232,-2794,0,2794
243,Job_063,6,4217,8026,M7,5309,85,5394,-2632,0,2632
244,Job_063,7,4217,8026,M3,5394,98,5492,-2534,0,2534
245,Job_063,8,4217,8026,M9,5492,22,5514,-2512,0,2512
246,Job_063,9,4217,8026,M5,7983,43,8026,0,0,0

In [10]:
og = df_plan_devpen_01
new = df_plan_devpen_02

df_compare_02 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_02

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau,levenshtein_distance
Machine,,,,,,
M0,"[Job_035, Job_044]","[Job_058, Job_050, Job_038, Job_054, Job_035, Job_057, Job_063, Job_060, Job_051, Job_059...","[Job_035, Job_044]",False,1.000000,0
M1,[Job_043],"[Job_063, Job_050, Job_058, Job_062, Job_043, Job_059, Job_052, Job_054, Job_049, Job_061...",[Job_043],False,NaN,0
M2,"[Job_033, Job_042, Job_034]","[Job_057, Job_054, Job_048, Job_033, Job_042, Job_050, Job_063, Job_055, Job_034, Job_051...","[Job_033, Job_042, Job_034]",False,1.000000,0
M3,"[Job_033, Job_039, Job_027, Job_043, Job_038, Job_034, Job_044, Job_046, Job_041, Job_037]","[Job_033, Job_027, Job_039, Job_043, Job_050, Job_034, Job_044, Job_038, Job_046, Job_041...","[Job_033, Job_027, Job_039, Job_043, Job_034, Job_044, Job_038, Job_046, Job_041, Job_037]",True,0.866667,4
M4,"[Job_043, Job_037, Job_035, Job_025, Job_039, Job_033, Job_042, Job_034, Job_045, Job_041...","[Job_043, Job_037, Job_025, Job_038, Job_035, Job_039, Job_050, Job_033, Job_042, Job_063...","[Job_043, Job_037, Job_025, Job_035, Job_039, Job_033, Job_042, Job_034, Job_045, Job_041...",True,0.963636,2
M5,"[Job_019, Job_033, Job_043, Job_034, Job_024, Job_038, Job_046]","[Job_045, Job_042, Job_019, Job_033, Job_043, Job_034, Job_050, Job_054, Job_024, Job_057...","[Job_019, Job_033, Job_043, Job_034, Job_024, Job_038, Job_046]",False,1.000000,0
M6,"[Job_036, Job_038, Job_035, Job_037, Job_043, Job_033, Job_042, Job_034, Job_047, Job_044]","[Job_036, Job_037, Job_035, Job_038, Job_043, Job_033, Job_042, Job_050, Job_034, Job_047...","[Job_036, Job_037, Job_035, Job_038, Job_043, Job_033, Job_042, Job_034, Job_047, Job_044]",True,0.866667,2
M7,"[Job_047, Job_038, Job_033, Job_035, Job_043, Job_045, Job_042, Job_037, Job_034, Job_039...","[Job_047, Job_046, Job_033, Job_035, Job_038, Job_045, Job_042, Job_037, Job_034, Job_043...","[Job_047, Job_033, Job_035, Job_038, Job_045, Job_042, Job_037, Job_034, Job_043, Job_039...",True,0.818182,3
M8,"[Job_031, Job_038, Job_033, Job_023, Job_045, Job_037, Job_044, Job_034, Job_043, Job_042]","[Job_047, Job_031, Job_046, Job_040, Job_033, Job_023, Job_038, Job_045, Job_037, Job_044...","[Job_031, Job_033, Job_023, Job_038, Job_045, Job_037, Job_044, Job_034, Job_043, Job_042]",True,0.911111,2
M9,"[Job_045, Job_043, Job_047, Job_042, Job_040, Job_038, Job_033, Job_037, Job_034, Job_044...","[Job_036, Job_043, Job_035, Job_045, Job_042, Job_040, Job_047, Job_033, Job_037, Job_034...","[Job_043, Job_045, Job_042, Job_040, Job_047, Job_033, Job_037, Job_034, Job_044, Job_038...",True,0.745455,4

## Ohne "Deviation Penalty"

### Tag 2

In [11]:
day_numb = 2
file = get_file_path(prefix="03_simple", text=f"schedule_{day_numb:02d}")

df_plan_temp = pd.read_csv(file)
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_simple_01 = df_plan_temp 
df_plan_simple_01

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_001,9,81,3047,M8,3017,30,3047,0,0,0
1,Job_002,9,101,3404,M4,3371,33,3404,0,0,0
2,Job_003,3,142,3950,M4,3064,99,3163,-787,0,787
3,Job_003,4,142,3950,M6,3243,9,3252,-698,0,698
4,Job_003,5,142,3950,M8,3252,52,3304,-646,0,646
...,...,...,...,...,...,...,...,...,...,...,...
280,Job_047,5,2820,5106,M4,4177,69,4246,-860,0,860
281,Job_047,6,2820,5106,M8,4339,21,4360,-746,0,746
282,Job_047,7,2820,5106,M7,4380,49,4429,-677,0,677
283,Job_047,8,2820,5106,M9,4439,72,4511,-595,0,595
284,Job_047,9,2820,5106,M6,5053,53,5106,0,0,0

In [12]:
og = df_plan_init
new = df_plan_simple_01

df_compare_simple_01 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_simple_01

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau,levenshtein_distance
Machine,,,,,,
M0,"[Job_025, Job_019, Job_024]","[Job_040, Job_036, Job_034, Job_032, Job_021, Job_022, Job_043, Job_047, Job_037, Job_025...","[Job_025, Job_019, Job_024]",False,1.000000,0
M1,"[Job_027, Job_023, Job_031, Job_024]","[Job_032, Job_020, Job_019, Job_025, Job_036, Job_027, Job_040, Job_023, Job_031, Job_033...","[Job_027, Job_023, Job_031, Job_024]",False,1.000000,0
M2,"[Job_019, Job_018, Job_025, Job_024, Job_023]","[Job_036, Job_035, Job_047, Job_017, Job_037, Job_044, Job_032, Job_022, Job_018, Job_019...","[Job_018, Job_019, Job_025, Job_024, Job_023]",True,0.800000,2
M3,"[Job_031, Job_025, Job_023, Job_007, Job_003, Job_013, Job_022, Job_019, Job_024, Job_027]","[Job_011, Job_017, Job_018, Job_032, Job_031, Job_036, Job_025, Job_007, Job_023, Job_022...","[Job_031, Job_025, Job_007, Job_023, Job_022, Job_013, Job_003, Job_019, Job_027, Job_024]",True,0.777778,6
M4,"[Job_015, Job_003, Job_008, Job_027, Job_019, Job_021, Job_002, Job_024, Job_018, Job_026...","[Job_008, Job_015, Job_011, Job_003, Job_021, Job_002, Job_036, Job_027, Job_019, Job_026...","[Job_008, Job_015, Job_003, Job_021, Job_002, Job_027, Job_019, Job_026, Job_022, Job_018...",True,0.736264,8
M5,"[Job_018, Job_017, Job_027, Job_020, Job_023, Job_025, Job_031, Job_022, Job_003, Job_019...","[Job_018, Job_020, Job_036, Job_032, Job_017, Job_027, Job_022, Job_031, Job_035, Job_023...","[Job_018, Job_020, Job_017, Job_027, Job_022, Job_031, Job_023, Job_025, Job_003, Job_019...",True,0.745455,5
M6,"[Job_030, Job_013, Job_020, Job_003, Job_021, Job_017, Job_022, Job_018, Job_031, Job_019...","[Job_030, Job_028, Job_013, Job_020, Job_021, Job_032, Job_003, Job_022, Job_017, Job_018...","[Job_030, Job_013, Job_020, Job_021, Job_003, Job_022, Job_017, Job_018, Job_031, Job_027...",True,0.866667,8
M7,"[Job_028, Job_030, Job_017, Job_005, Job_013, Job_020, Job_003, Job_025, Job_012, Job_018...","[Job_026, Job_030, Job_028, Job_005, Job_020, Job_013, Job_017, Job_012, Job_003, Job_032...","[Job_030, Job_028, Job_005, Job_020, Job_013, Job_017, Job_012, Job_003, Job_009, Job_011...",True,0.777778,13
M8,"[Job_017, Job_001, Job_013, Job_028, Job_003, Job_030, Job_025, Job_022, Job_019, Job_027...","[Job_021, Job_001, Job_030, Job_028, Job_013, Job_017, Job_003, Job_022, Job_032, Job_036...","[Job_001, Job_030, Job_028, Job_013, Job_017, Job_003, Job_022, Job_016, Job_025, Job_019...",True,0.764706,11
M9,"[Job_013, Job_018, Job_017, Job_022, Job_023, Job_027, Job_025, Job_003, Job_028, Job_030...","[Job_021, Job_013, Job_032, Job_018, Job_022, Job_017, Job_028, Job_030, Job_003, Job_023...","[Job_013, Job_018, Job_022, Job_017, Job_028, Job_030, Job_003, Job_023, Job_027, Job_025...",True,0.636364,7

### Tag 3

In [13]:
day_numb = 3
file = get_file_path(prefix="03_simple", text=f"schedule_{day_numb:02d}")

df_plan_temp = pd.read_csv(file)
df_plan_temp = df_plan_temp .sort_values(by=["Arrival", "Start"]).reset_index(drop=True)
df_plan_temp 

df_plan_simple_02 = df_plan_temp 
df_plan_simple_02

,Job,Operation,Arrival,Deadline,Machine,Start,Processing Time,End,Lateness,Tardiness,Earliness
0,Job_019,9,808,4616,M5,4573,43,4616,0,0,0
1,Job_023,9,1211,4683,M8,4609,74,4683,0,0,0
2,Job_024,7,1238,5047,M3,4524,98,4622,-425,0,425
3,Job_024,8,1238,5047,M9,4807,22,4829,-218,0,218
4,Job_024,9,1238,5047,M5,5004,43,5047,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
238,Job_063,5,4217,8026,M8,5985,52,6037,-1989,0,1989
239,Job_063,6,4217,8026,M7,6037,85,6122,-1904,0,1904
240,Job_063,7,4217,8026,M3,6122,98,6220,-1806,0,1806
241,Job_063,8,4217,8026,M9,6220,22,6242,-1784,0,1784
242,Job_063,9,4217,8026,M5,7983,43,8026,0,0,0

In [14]:
og = df_plan_simple_01
new = df_plan_simple_02

df_compare_simple_02 = seq_tester.analyze_machine_sequences(og, new, 1440*day_numb)
df_compare_simple_02

,original_sequence,revised_sequence_raw,revised_sequence,changed,kendall_tau,levenshtein_distance
Machine,,,,,,
M0,"[Job_046, Job_044]","[Job_050, Job_048, Job_056, Job_054, Job_051, Job_060, Job_046, Job_058, Job_049, Job_062...","[Job_046, Job_044]",False,1.000000,0
M1,[Job_043],"[Job_056, Job_059, Job_043, Job_050, Job_054, Job_048, Job_049, Job_062, Job_052, Job_055...",[Job_043],False,NaN,0
M2,[Job_042],"[Job_048, Job_034, Job_045, Job_054, Job_046, Job_050, Job_051, Job_055, Job_060, Job_057...",[Job_042],False,NaN,0
M3,"[Job_039, Job_027, Job_024, Job_041, Job_042, Job_038, Job_046, Job_037]","[Job_043, Job_027, Job_024, Job_044, Job_039, Job_041, Job_050, Job_042, Job_054, Job_038...","[Job_027, Job_024, Job_039, Job_041, Job_042, Job_038, Job_037, Job_046]",True,0.785714,4
M4,"[Job_039, Job_025, Job_046, Job_034, Job_041, Job_044, Job_033, Job_042, Job_045]","[Job_038, Job_025, Job_046, Job_048, Job_034, Job_033, Job_039, Job_050, Job_054, Job_045...","[Job_025, Job_046, Job_034, Job_033, Job_039, Job_045, Job_041, Job_044, Job_042]",True,0.500000,6
M5,"[Job_045, Job_019, Job_043, Job_042, Job_024, Job_038, Job_046]","[Job_041, Job_033, Job_019, Job_054, Job_045, Job_048, Job_043, Job_055, Job_042, Job_024...","[Job_019, Job_045, Job_043, Job_042, Job_024, Job_038, Job_046]",True,0.904762,2
M6,"[Job_045, Job_036, Job_034, Job_037, Job_043, Job_038, Job_044, Job_046, Job_042, Job_047]","[Job_036, Job_037, Job_033, Job_045, Job_034, Job_038, Job_046, Job_043, Job_048, Job_047...","[Job_036, Job_037, Job_045, Job_034, Job_038, Job_046, Job_043, Job_047, Job_044, Job_042]",True,0.644444,8
M7,"[Job_047, Job_034, Job_045, Job_035, Job_037, Job_043, Job_038, Job_042, Job_046, Job_039...","[Job_033, Job_047, Job_035, Job_034, Job_037, Job_038, Job_045, Job_043, Job_048, Job_046...","[Job_047, Job_035, Job_034, Job_037, Job_038, Job_045, Job_043, Job_046, Job_039, Job_042...",True,0.787879,7
M8,"[Job_047, Job_031, Job_044, Job_045, Job_037, Job_023, Job_038, Job_046, Job_034, Job_043...","[Job_031, Job_033, Job_037, Job_047, Job_023, Job_038, Job_045, Job_044, Job_046, Job_048...","[Job_031, Job_037, Job_047, Job_023, Job_038, Job_045, Job_044, Job_046, Job_034, Job_043...",True,0.672727,6
M9,"[Job_033, Job_045, Job_047, Job_044, Job_040, Job_037, Job_024, Job_042, Job_038, Job_046]","[Job_034, Job_040, Job_037, Job_033, Job_045, Job_047, Job_024, Job_044, Job_048, Job_038...","[Job_040, Job_037, Job_033, Job_045, Job_047, Job_024, Job_044, Job_038, Job_042, Job_046]",True,0.555556,7

## Levenstein

### Ohne DevPen

In [16]:
og = df_compare_simple_02.loc["M5", "original_sequence"]
og

['Job_045', 'Job_019', 'Job_043', 'Job_042', 'Job_024', 'Job_038', 'Job_046']

In [17]:
rev = df_compare_simple_02.loc["M5", "revised_sequence"]
rev

['Job_019', 'Job_045', 'Job_043', 'Job_042', 'Job_024', 'Job_038', 'Job_046']

### Mit DevPen

In [19]:
og = df_compare_02.loc["M7", "original_sequence"]
og

['Job_047',
 'Job_038',
 'Job_033',
 'Job_035',
 'Job_043',
 'Job_045',
 'Job_042',
 'Job_037',
 'Job_034',
 'Job_039',
 'Job_044',
 'Job_041']

In [20]:
rev = df_compare_02.loc["M7", "revised_sequence"]
rev

['Job_047',
 'Job_033',
 'Job_035',
 'Job_038',
 'Job_045',
 'Job_042',
 'Job_037',
 'Job_034',
 'Job_043',
 'Job_039',
 'Job_044',
 'Job_041']

In [21]:
import editdistance

def levenshtein_distance(list1, list2):
    """
    Berechnet die Levenshtein-Distanz zwischen zwei Listen.
    
    Args:
        list1 (list): Erste Sequenz (z.â€¯B. Liste von Jobs).
        list2 (list): Zweite Sequenz.
    
    Returns:
        int: Anzahl der minimalen Bearbeitungsoperationen.
    """
    return editdistance.eval(list1, list2)

In [22]:
levenshtein_distance(og, rev)

3

In [23]:
def spearman_footrule(seq1: list, seq2: list) -> int:
    """
    Berechnet Spearman's FuÃŸregel-Distanz zwischen zwei Job-Sequenzen.
    Beide Sequenzen mÃ¼ssen die gleichen Elemente enthalten.
    """
    # Mapping von Job â†’ Rang in beiden Sequenzen
    rank1 = {job: i for i, job in enumerate(seq1)}
    rank2 = {job: i for i, job in enumerate(seq2)}

    # Summe der absoluten Differenzen der RÃ¤nge
    return sum(abs(rank1[job] - rank2[job]) for job in seq1)

In [24]:
footrule = spearman_footrule(og, rev)
print(f"Spearmanâ€™s FuÃŸregel fÃ¼r M7: {footrule}")

Spearmanâ€™s FuÃŸregel fÃ¼r M7: 12